/*general*/
@font-face {
    font-family: 'gothamlight';
    src: url("../webfonts/Gothamfont/Gotham-Light.otf");
}
@font-face {
    font-family: 'gothamRegular';
    src: url("../webfonts/Gothamfont/GothamBook.ttf");
}
@font-face {
    font-family: 'gothamBold';
    src: url("../webfonts/Gothamfont/Gotham-Bold.otf");
}
.fs-reg{
    font-family: gothamRegular, sans-serif;
}
.fs-li{
    font-family: gothamlight, sans-serif;
}
.fs-bo{
    font-family: gothamBold, sans-serif;
}
.fsize-1{
    font-size: 0.9rem; /*14px*/
}
.fsize-2{
    font-size: 1rem; /*16px*/
}
.fsize-3{
    font-size: 1.4rem; /*22px*/
}
.fsize-5{
    font-size: 1.8rem;
}
.br-none{
    border-radius: 0;
    text-decoration: none;
}
.mp-none{
    margin: 0;
    padding: 0;
}
img{ /*img-fluid class op alle images in docu*/
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #262626;
}
a:hover{
    color: #262626;
    /*text-decoration: underline;*/
}
/*nav*/
/*positioning of logo*/
.navbar {
    position: relative;
}
nav img{
    height: 50px;
    width: 50px;
}
.dropdown { position: static; } /*disables poppers dynamic positioning to stretch&position searchbar myself*/
.dropdown-menu { width: 100%; }
/*end nav*/
/*highlighted section */
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.margins{
    margin-top: 10%;
    margin-bottom: 10%;
}
.pos-hero{
    bottom: 1px;
}
.kader{ /*hoveer/ focus voor mobile om fotos nog zichtbaar te laten*/
    top: 85%; right: 50%;
    transform: translate(50%,-50%);
    width:90%;
    background: rgba(255,255,255,0.9);
    border:10px solid rgba(255,255,255,0);
}
.mi:hover img{
    transform: scale(1.1)
}
.mi{
    overflow: hidden;
}
/*parallax*/
.parallax{
    padding-top: 20%;
    padding-bottom: 20%;
    background: url("../images/parallax.jpg") no-repeat fixed center;
    background-size:cover;
}
#parallax2{
    padding-top: 15%;
    padding-bottom: 15%;
    background: url("../images/banner2.jpg") no-repeat fixed center;
    background-size:cover;
}
/*productoverzicht*/
.btn-colour {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0;
    border-radius: 50%;
    /*bg white circle*/
    box-shadow: inset 0 0 0 5px #fff, 0 0 0 1px #ced4da;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    transition: border-color .1s;
}
.input-invisible {
    position: absolute;
    display: none;
}
/*productdetailpagina*/
.carousel button{
    border: none;
    color: grey;
}
.accordion-button:not(.collapsed){
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 rgba(0 ,0, 0, 0.13);
}
#productOverzicht article img{
    top: 0;
    left: 0;
}
.img-first{
    z-index: 5;
}
.img-second{
    z-index: 0;
}
.img-first:hover{
    display: none;
}
.checkshop input:checked {
    border-color: rgba(84, 81, 66,0.5);
    background-color:rgba(84, 81, 66,0.8);
}
.page-item .page-link {
    color: rgba(84, 81, 66,0.8) !important;
    border: rgba(84, 81, 66,0.8) !important;
}
.page-item.active .page-link {
    color: #fff !important;
    background: rgba(84, 81, 66,0.8) !important;
    border: rgba(84, 81, 66,0.8) !important;
}
/*slider*/

/*footer */
.socialIcons{
    font-size: 1.9rem;
}
/*media query*/
@media (min-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -25px !important;  /* -50% van logo breedte ! */
        display: block;
    }
}
@media (min-width: 1860px) and (max-width: 2250px){
    #highlightfix {
        height: 455px;
    }
}
