/*general*/
@font-face {
    font-family: 'gothamlight';
    src: url("../webfonts/Gothamfont/Gotham-Light.otf");
}
@font-face {
    font-family: 'gothamRegular';
    src: url("../webfonts/Gothamfont/GothamBook.ttf");
}
@font-face {
    font-family: 'gothamBold';
    src: url("../webfonts/Gothamfont/Gotham-Bold.otf");
}
.fs-reg{
    font-family: gothamRegular, sans-serif;
}
.fs-li{
    font-family: gothamlight, sans-serif;
}
.fs-bo{
    font-family: gothamBold, sans-serif;
}
.fsize-1{
    font-size: 0.9rem; /*14px*/
}
.fsize-2{
    font-size: 1rem; /*16px*/
}
.fsize-3{
    font-size: 1.4rem; /*22px*/
}
.fsize-5{
    font-size: 1.8rem;
}
.br-none{
    border-radius: 0;
    text-decoration: none;
}
.mp-none{
    margin: 0;
    padding: 0;
}
img{ /*img-fluid class op alle images in docu*/
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #262626;
}
a:hover{
    color: #262626;
    /*text-decoration: underline;*/
}

.bg-gray-100 {
    background-color: #f8f9fa !important; }

.bg-gray-200 {
    background-color: #f0f2f5 !important; }

.bg-gray-300 {
    background-color: #dee2e6 !important; }

.bg-gray-400 {
    background-color: #ced4da !important; }

.bg-gray-500 {
    background-color: #adb5bd !important; }

.bg-gray-600 {
    background-color: #6c757d !important; }

.bg-gray-700 {
    background-color: #495057 !important; }

.bg-gray-800 {
    background-color: #343a40 !important; }

.bg-gray-900 {
    background-color: #212529 !important; }

.bg-opacity-10 {
    --bs-bg-opacity: 0.1; }

.bg-opacity-25 {
    --bs-bg-opacity: 0.25; }

.bg-opacity-50 {
    --bs-bg-opacity: 0.5; }

.bg-opacity-75 {
    --bs-bg-opacity: 0.75; }

.bg-opacity-100 {
    --bs-bg-opacity: 1; }

/*nav*/
/*positioning of logo*/
.navbar {
    position: relative;
}
nav img{
    height: 50px;
    width: 50px;
}
.dropdown { position: static; } /*disables poppers dynamic positioning to stretch&position searchbar myself*/
.dropdown-menu { width: 100%; }
#lblCartCount {
    font-size: 0.9rem;
    font-family: gothamRegular, sans-serif;

    padding: 0 5px;
    vertical-align: top;
}
/*end nav*/
/*aside */

/*highlighted section */
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.margins{
    margin-top: 10%;
    margin-bottom: 10%;
}
.pos-hero{
    bottom: 1px;
}
.kader{ /*hoveer/ focus voor mobile om fotos nog zichtbaar te laten*/
    top: 81%; right: 50%;
    transform: translate(50%,-50%);
    width:90%;
    background: rgba(255,255,255,0.9);
    border:10px solid rgba(255,255,255,0);
}
.mi:hover img{
    transform: scale(1.1)
}
.mi{
    overflow: hidden;
}
.location_image {
    background-size: 150%;
    background-position: center;
    padding-top: 100%;
    border-radius: 25px;
    -webkit-transition: box-shadow .6s ease-out;
    height: auto;
    z-index: 1;
}
/*parallax*/
.parallax{
    padding-top: 20%;
    padding-bottom: 20%;
    background: url("../images/bigparallax.jpg") no-repeat fixed center;
    background-size:cover;
    object-fit: cover;
}
#parallax2{
    padding-top: 15%;
    padding-bottom: 15%;
    background: url("../images/banner2.jpg") no-repeat fixed center;
    background-size:cover;
}
/*productoverzicht*/
/*.btn-colour {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0;
    border-radius: 50%;
    !*bg white circle*!
    box-shadow: inset 0 0 0 5px #fff, 0 0 0 1px #ced4da;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    transition: border-color .1s;
}*/
.form-option .form-check-input {
    border: 0;
    background: none;}
.form-check-input[type=checkbox] {
                          border-radius: 0.3125em;}
.form-option-label {
    position: relative;
    min-width: 2rem;
    height: 2rem;
    margin-bottom: 0;
    padding-top: 0.0625rem;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
    border: 1px solid #e3e9ef;
    border-radius: 0.25rem;
    color: #4b566b;
    font-size: .75rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.75rem;
    cursor: pointer;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;}
.form-check-input:checked~.form-option-label{
    /*for border color change classes  https://themes.getbootstrap.com/preview/?theme_id=35287*/
    border-color: #000000;
    border-width: 0.25rem;

}
.input-invisible {
    position: absolute;
    display: none;
}
/*productdetailpagina*/
/*.filtercard:active{
    background-color: #000000;
    color: #FFFFFF;
}*/
.filtercard input:checked {
    border-color: rgba(85, 81, 70,0.5);
    background-color: rgba(85, 81, 70,0.9);
}
.filtercard-input:checked {
    border-color: rgba(85, 81, 70,0.5);
    background-color: rgba(85, 81, 70,0.9);
}
.filtercard-input:checked~.filtercard-body{
    background-color: #000000;
    color: #FFFFFF;
}
.carousel button{
    border: none;
    color: grey;
}
.accordion-button:not(.collapsed){
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 rgba(0 ,0, 0, 0.13);
}
#productOverzicht article img{
    top: 0;
    left: 0;
}
.swatch-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: -2px;
}
.swatch-color{
    border: 1px solid rgb(85, 85, 85);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-left: -2px;
}
/*slider*/
input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
}
input[type=range]:focus{
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: rgba(84, 81, 66,0.8);!important;
    border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(84, 81, 66,0.8);!important;
}
.range-wrap{
    width: 500px;
    position: relative;
}
.range-value{
    position: absolute;
    top: -50%;
}

.range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid rgba(84, 81, 66,0.8);!important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}
.range-value span{
    width: 40px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    background: rgba(84, 81, 66,0.8);!important;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
}
/*end slider*/

/*coloring details
*/
.checkshop input:checked {
    border-color: rgba(85, 81, 70,0.5);
    background-color: rgba(85, 81, 70,0.9);
}
.page-item .page-link {
    color: rgba(84, 81, 66,0.8) !important;
    border: rgba(84, 81, 66,0.8) !important;
}
.page-item.active .page-link {
    color: #fff !important;
    background: rgba(84, 81, 66,0.8) !important;
    border: rgba(84, 81, 66,0.8) !important;
}
ul .pagination{
    justify-content: center;
}
/*slider*/

/*footer */
.socialIcons{
    font-size: 1.9rem;
}
/*media query*/
@media (min-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -25px !important;  /* -50% van logo breedte ! */
        display: block;
    }
}
@media (min-width: 1860px) and (max-width: 2250px){
    #highlightfix {
        height: 455px;
    }
}
